figure {
    width: 100%;
    position: relative;
}

figcaption {
    position: absolute;
    top: 27%;
    font-size: 4rem;
    color: white;
    padding: 0.5rem;
    padding-left: 25rem;
    padding-right: 2rem;
    background-color: black;

}